body {
	background-color: #15ccfb;
	font-family: "Roboto";
}

#first {
	text-align: center;
	margin: 0px 250px 0px 250px;
	border: 5px solid green;
	background-color: white;
}

#second {
	text-align: center;
	margin: 0px 250px 0px 250px;
	border: 5px solid green;
	background-color: white;
}

#third {
	text-align: center;
	margin: 0px 250px 0px 250px;
	border: 5px solid green;
	background-color: white;
}

#info {
	top: 20px;
	left: 0px;
}


