body {
	background-color: beige;
	font-family: "Roboto";
}

#seventh {
	text-align: left;
	margin: 0px 100px 0px 250px;
	border: 5px solid maroon;
	background-color: #9DBCBC;
}

#sixth {
	text-align: left;
	margin: 0px 100px 0px 250px;
	border: 5px solid maroon;
	background-color: #9DBCBC;
}

#fifth {
	text-align: left;
	margin: 0px 100px 0px 250px;
	border: 5px solid maroon;
	background-color: #9DBCBC;
}

#fourth {
	text-align: left;
	margin: 0px 100px 0px 250px;
	border: 5px solid maroon;
	background-color: #9DBCBC;
}

#first {
	text-align: left;
	margin: 0px 100px 0px 250px;
	border: 5px solid maroon;
	background-color: #9DBCBC;
}

#second {
	text-align: left;
	margin: 0px 100px 0px 250px;
	border: 5px solid maroon;
	background-color: #9DBCBC;
}

#third {
	text-align: left;
	margin: 0px 100px 0px 250px;
	border: 5px solid maroon;
	background-color: #9DBCBC;
}

#info {
	top: 20px;
	left: 0px;
}

#link1 {
	position: absolute;
	top: 290px;
	left: 20px;
}

#link7 {
	position: absolute;
	top: 310px;
	left: 20px;
}

#link6 {
	position: absolute;
	top: 330px;
	left: 20px;
}

#link2 {
	position: absolute;
	top: 350px;
	left: 20px;
}

#link3 {
	position: absolute;
	top: 370px;
	left: 20px;
}

#link4 {
	position: absolute;
	top: 390px;
	left: 20px;
}

#link5 {
	position: absolute;
	top: 410px;
	left: 20px;
}
