body {
	background-color: beige;
	font-family: "Roboto";
}

#fifth {
	text-align: left;
	margin: 0px 100px 0px 250px;
	border: 5px solid maroon;
	background-color: #9DBCBC;
}

#fourth {
	text-align: left;
	margin: 0px 100px 0px 250px;
	border: 5px solid maroon;
	background-color: #9DBCBC;
}

#first {
	text-align: left;
	margin: 0px 100px 0px 250px;
	border: 5px solid maroon;
	background-color: #9DBCBC;
}

#second {
	text-align: left;
	margin: 0px 100px 0px 250px;
	border: 5px solid maroon;
	background-color: #9DBCBC;
}

#third {
	text-align: left;
	margin: 0px 100px 0px 250px;
	border: 5px solid maroon;
	background-color: #9DBCBC;
}

#info {
	top: 20px;
	left: 0px;
}

#link1 {
	position: fixed;
	top: 40px;
	left: 0px;
}

#link2 {
	position: fixed;
	top: 60px;
	left: 0px;
}

#link3 {
	position: fixed;
	top: 80px;
	left: 0px;
}

#link4 {
	position: fixed;
	top: 100px;
	left: 0px;
}

#link5 {
	position: fixed;
	top: 120px;
	left: 0px;
}
